<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/dashboard']">
          <i-home></i-home>
          Dashboard <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/payoffQuote']">
          <i-search></i-search>
          Payoff Quote
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard']">
          <i-bar-chart-2></i-bar-chart-2>
          Reports
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard']">
          <i-users></i-users>
          Profiles
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard']">
          <i-settings></i-settings>
          Settings
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard']">
          <i-activity></i-activity>
          Recent Activity
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard']">
          <i-mail></i-mail>
          Inbox
        </a>
      </li>

    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Saved reports</span>
      <a class="d-flex align-items-center text-muted" [routerLink]="['/dashboard']">
        <i-plus-circle></i-plus-circle>
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard']">
          <i-file></i-file>
          Current month
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard']">
          <i-file></i-file>
          Last quarter
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard']">
          <i-file></i-file>
          Archives
        </a>
      </li>
    </ul>
  </div>
</nav>
