<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Dashboard</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button class="btn btn-sm btn-outline-secondary">Export</button>
      <button class="btn btn-sm btn-outline-secondary">Print</button>
    </div>
    <button (click)="getPayoffQuote()" class="btn btn-sm btn-outline-secondary">Obtain a Payoff Quote </button>
  </div>
</div>

<h6>Requested Quotes</h6>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
    <tr>
      <th>Product</th>
      <th>Lien Holder</th>
      <th>VIN</th>
      <th>Good Until</th>
      <th>Net Payoff Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Retail</td>
      <td>Lorem</td>
      <td>ipsum</td>
      <td>dolor</td>
      <td>sit</td>
    </tr>
    <tr>
      <td>Retail</td>
      <td>amet</td>
      <td>consectetur</td>
      <td>adipiscing</td>
      <td>elit</td>
    </tr>
    <tr>
      <td>Commercial</td>
      <td>Integer</td>
      <td>nec</td>
      <td>odio</td>
      <td>Praesent</td>
    </tr>
    <tr>
      <td>Retail</td>
      <td>libero</td>
      <td>Sed</td>
      <td>cursus</td>
      <td>ante</td>
    </tr>
    <tr>
      <td>Retail</td>
      <td>Lorem</td>
      <td>ipsum</td>
      <td>dolor</td>
      <td>sit</td>
    </tr>
    <tr>
      <td>Retail</td>
      <td>amet</td>
      <td>consectetur</td>
      <td>adipiscing</td>
      <td>elit</td>
    </tr>
    <tr>
      <td>Commercial</td>
      <td>Integer</td>
      <td>nec</td>
      <td>odio</td>
      <td>Praesent</td>
    </tr>
    </tbody>
  </table>
</div>
